@import 'reset.scss';

html,
body,
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
  margin-top: 60px;
}

* {
  box-sizing: border-box;
}

i {
  cursor: pointer;
}

.block {
  position: relative;
  .block-info {
    font-size: $font-extra-small;
    font-family: monospace;
    text-transform: capitalize;
    margin: 0 $padding/2;
  }
  &.group {
    padding: $padding/2;
  }
  &.columns {
    border: $border-hairline;
    padding: $padding/4;
    .cols > .group {
      border: 0;
      &:not(:last-child) {
        border-right: $border-hairline;
      }
    }
  }
  &.group {
    border: $border-hairline;
    header {
      padding: 0;
    }
    .group-content {
      padding: 0.5rem;
    }
  }
}

h2,
textarea.h2 {
  font-family: sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  line-height: 105%;
}

h3,
textarea.h3 {
  font-family: sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  line-height: 105%;
}

p,
textarea.p {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 105%;
}
